<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>

<body>

    <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">DashBoard</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="/Home/adminindex">Home</a></li>
                <li><a href="/user/userslist">Users</a></li>
                <li><a href="/user/adminbookings">Appointments</a></li>
            </ul>

            
            @{
                var obj = (WebPortal.Models.User)Session["Currentuser"];
                if (obj.Username != null)
                {
                        <ul class="nav navbar-nav navbar-right">
                            <li >
                                <a>Hi @Session["Firstname"] @Session["Surname"]</a>
                            </li>
                            <li >
                                <a href="/user/logout">Log out</a>
                            </li>

                        </ul>

                }

            }
        </div>
    </nav>

    <div class="container">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
