<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>

<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">

            <ul class="nav navbar-nav">
                <li><a class="" href="/user/userbookings">My Appointments</a></li>
                <li><a class="" href="/user/userprofile?id=@Session["UserId"]">My Profile</a></li>

            </ul>
            @{ if (Session["Username"] != null)
                {
   

                    <ul class="nav navbar-nav navbar-right">
                        <li class="">
                           <a>Hi @Session["Firstname"] @Session["Surname"]</a>
                        </li>
                        <li class="">
                            <a href="/user/logout">Log out</a>
                        </li>

                    </ul>

                }

            }
        </div>
    </nav>

    <div class="container-fluid">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
