@{
    ViewBag.Title = "User Bookings";
    
}
<div>
    <div class="row">
        <div class="col-sm-12 text-center form-title">
            <h1>Bookings</h1>
        </div>

    </div>
    <div style="display: flex; justify-content:flex-end">
        <a href="/user/makebooking" class="btn btn-primary btn-lg " role="button" aria-disabled="true">Book</a>

    </div>
    <br />
    <table class="table table-bordered table-dark left">

        <thead>
            <tr>
                <th>
                    Client
                </th>
                <th>
                    Meeting Time
                </th>
                <th>
                    Service
                </th>
                <th>
                    My Comment
                </th>
                <th>
                    Admin Comment
                </th>
                <th>
                    Appointment Status
                </th>
                <th>
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var item in Model)
                {
                        <tr>

                            <td>@item.User.Firstname @item.User.Surname</td>
                            <td>@item.DateandTime</td>
                            <td>@item.Service</td>
                            <td> @item.UserComment</td>
                            <td>@item.AdminComment</td>
                            <td>@item.AppointmentStatu.Name</td>

                            <td><a href="/user/reviewbooking?id=@item.AppointmentId">Review</a></td>

                        </tr>

                }

            }

        </tbody>

    </table>

</div>
