@{
    ViewBag.Title = "Users List";
    
}
<div>
    <form action="/user/userslist" method="post">
        <div class="row">
            <div class="col-sm-12 form-title">
                <h4><b><u>User List</u></b></h4>
            </div>
            <div style="display: flex; justify-content:flex-end">
                <a href="/user/userregister" class="btn btn-primary btn-lg " role="button" aria-disabled="true">Add</a>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-lg-3 col-6">

                <div class="small-box bg-info smooth-border">
                    <div class="inner">
                        <h3>@ViewBag.totalusers</h3>
                        <p>Total User</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-bag"></i>
                    </div>
                    <button href="/user/userslist" class="small-box-footer btn-link" name="check" value="1">View<i class="fas fa-arrow-circle-right"></i></button>
                </div>
            </div>

            <div class="col-lg-3 col-6">

                <div class="small-box bg-success smooth-border">
                    <div class="inner">
                        <h3>@ViewBag.active</h3>
                        <p>Active Users</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-stats-bars"></i>
                    </div>
                    <button href="/user/userslist" class="small-box-footer btn-link" name="check" value="2">View<i class="fas fa-arrow-circle-right"></i></button>                </div>
            </div>

            <div class="col-lg-3 col-6">

                <div class="small-box bg-warning smooth-border">
                    <div class="inner">
                        <h3>@ViewBag.inactive</h3>
                        <p>Inactive Users</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-person-add"></i>
                    </div>
                    <button href="/user/userslist" class="small-box-footer btn-link" name="check" value="3">View<i class="fas fa-arrow-circle-right"></i></button>                </div>
            </div>

            <div class="col-lg-3 col-6">

                <div class="small-box bg-danger smooth-border">
                    <div class="inner">
                        <h3>@ViewBag.admin</h3>
                        <p>Admins</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-pie-graph"></i>
                    </div>
                    <button href="/user/userslist" class="small-box-footer btn-link" name="check" value="4">View<i class="fas fa-arrow-circle-right"></i></button>                </div>
            </div>

        </div>
    </form>
        <br />
        <table class="table table-bordered table-dark left">
            <thead>
                <tr>
                    <th>
                        Firstname
                    </th>
                    <th>
                        Surname
                    </th>
                    <th>
                        Username
                    </th>
                    <th>
                        UserStatus
                    </th>
                    <th>
                        Role
                    </th>
                    <th>
                        Email
                    </th>
                    <th>
                        Phone Number
                    </th>
                    <th>
                        Action
                    </th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var item in ViewBag.users)
                    {
                        <tr>

                            <td>@item.Firstname</td>
                            <td> @item.Surname</td>
                            <td>@item.Username</td>
                            <td>@item.UserStatu.Name</td>
                            <td>@item.UserRole.Name</td>
                            <td>@item.Email</td>
                            <td>@item.Phone</td>
                            <td><a href="/user/useredit?id=@item.UserId">Edit</a> | <a href="/user/userdelete?id=@item.UserId">Delete</a></td>


                        </tr>

                    }

                }

            </tbody>

        </table>

</div>
