@{
    ViewBag.Title = "Edit Page";
    Layout = "~/Views/Shared/_layout.cshtml";
}


<div class="centered-box">
    <form action="/maintenance/editpage?" method="post">
        <div class="row">
            <div class="col-sm-12 text-center form-title">
                <h1>@ViewBag.pagetitle page Maintenance</h1>

            </div>
           


            <div class="col-lg-12 col-md-12 col-sm-12">
                <label style="font-size:larger" class="col-form-label" for="Title"><b>Title</b></label>
                <input class="form-control full-input" type="text" value="@ViewBag.page.Title" placeholder="Enter Title" name="Title" id="Title" required>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12">
                <label style="font-size:larger" class="col-form-label" for="Subtitle"><b>Subtitle</b></label>
                <input class="form-control full-input" type="text" value="@ViewBag.page.Subtitle" placeholder="Enter Subtitle" name="Subtitle" id="Subtitle" required>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12">
                <label style="font-size:larger" class="col-form-label" for="Content"><b>Content</b></label>
                <textarea class="form-control full-input" type="text" value = "@ViewBag.page.Content" placeholder="Enter Content"  name="Content" id="Content" required></textarea>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12">
                <label style="font-size:larger" class="col-form-label" for="Subcontent"><b>Subcontent</b></label>
                <textarea class="form-control full-input" type="text" value = "@ViewBag.page   .Subcontent" placeholder="Enter Subcontent" name="Subcontent" id="Subcontent" required></textarea>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-6">
                <br />
                <input class="form-control full-input" type="hidden" value="@ViewBag.code" name="Code" id="Code" >
                <button class="form-control btn-success full-input" type="submit">Update Page</button>
            </div>


        </div>
    </form>
</div>


